# Question 1

In [ ]:
Create a function that takes a number as an argument and returns True or False depending
on whether the number is symmetrical or not. A number is symmetrical when it is the same as
its reverse.
Examples
is_symmetrical(7227) ➞ True
is_symmetrical(12567) ➞ False
is_symmetrical(44444444) ➞ True
is_symmetrical(9939) ➞ False
is_symmetrical(1112111) ➞ True

In [6]:
def is_symmetrical(n):
    n=str(n)
    if n==n[::-1]:
        return True
    else:
        return False

In [10]:
is_symmetrical(7227)

True

In [11]:
is_symmetrical(12567)

False

In [12]:
is_symmetrical(9939)

False

# Question 2

In [ ]:
Given a string of numbers separated by a comma and space, return the product of the
numbers.
Examples
multiply_nums("2, 3") ➞ 6
multiply_nums("1, 2, 3, 4") ➞ 24
multiply_nums("54, 75, 453, 0") ➞ 0
multiply_nums("10, -2") ➞ -20

In [44]:
def multiply_nums(st):
    s=1
    num=st.split(', ')
    for i in num:
        s=s*int(i)
    return s

In [45]:
multiply_nums("2, 3")

6

In [46]:
multiply_nums("1, 2, 3, 4")

24

In [47]:
multiply_nums("54, 75, 453, 0")

0

In [48]:
multiply_nums("10, -2")

-20

# Question 3

In [ ]:
Create a function that squares every digit of a number.
Examples
square_digits(9119) ➞ 811181
square_digits(2483) ➞ 416649
square_digits(3212) ➞ 9414
Notes
The function receives an integer and must return an integer.

In [68]:
def square_digits(n):
    x = [str(int(a)**2) for a in str(n)]
    s = ""
    s = s.join(x)
    return int(s)

In [69]:
square_digits(9119)

811181

In [70]:
square_digits(2483)

416649

In [71]:
square_digits(3212)

9414

# Question 4

In [ ]:
Create a function that sorts a list and removes all duplicate items from it.
Examples
setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]
setify([4, 4, 4, 4]) ➞ [4]
setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]
setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [22]:
def setify(l):
    l2=[]
    l.sort()
    for i in l:
        if i not in l2:
            l2.append(i)
    return l2

In [23]:
setify([1, 3, 3, 5, 5])

[1, 3, 5]

In [24]:
setify([4, 4, 4, 4])

[4]

In [25]:
setify([5, 7, 8, 9, 10, 15])

[5, 7, 8, 9, 10, 15]

In [26]:
setify([3, 3, 3, 2, 1])

[1, 2, 3]

# Question 5

In [ ]:
Create a function that returns the mean of all digits.
Examples
mean(42) ➞ 3
mean(12345) ➞ 3
mean(666) ➞ 6
Notes
. The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in
  512 is (5+1+2)/3(number of digits) = 8/3=2).
. The mean will always be an integer.

In [15]:
from functools import reduce
from operator import add
def mean(n):
    total=0
    x = [int(a) for a in str(n)]
    return reduce(add,x)//len(x)

In [16]:
mean(42)

3

In [17]:
mean(12345)

3

In [18]:
mean(666)

6